<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableViewTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C441F71C1D3F1C58009C6FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C441F7301D3F1C58009C6FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C441F73B1D3F1C58009C6FC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
